unsloth[colab-new]
unsloth[colab-no-deps]
langchain
langchain-classic
langchain-community
langchain-huggingface
langchain-text-splitters
sentence-transformers
faiss-cpu
chromadb
pypdf
rank-bm25
duckduckgo-search
gradio
gdown
trl
wandb
datasets
torch